<ion-content [fullscreen]="true">
  <div class="login-container">
    <div class="shortPresentation">
      <h2>Splotify</h2>
      <p>The best place where you can explore your favorite artists, genres, and listen to some music.</p>
    </div>

    <form class="loginForm" [formGroup]="loginForm" (ngSubmit)="loginUse(loginForm.value)">
      <ion-item lines="inset">
        <ion-input
          label="Email"
          labelPlacement="floating"
          type="email"
          placeholder="example@splotify.com"
          formControlName="email"
        ></ion-input>
      </ion-item>

      <ion-item lines="inset">
        <ion-input
          label="Password"
          labelPlacement="floating"
          type="password"
          placeholder="#MyPassw0rd123*"
          formControlName="password"
        ></ion-input>
      </ion-item>

      <div class="validationErrors">
        <ng-container *ngFor="let validation of validationMessages.email">
          <div *ngIf="loginForm.get('email')?.hasError(validation.type) && loginForm.get('email')?.dirty">
            {{ validation.message }}
          </div>
        </ng-container>

        <ng-container *ngFor="let validation of validationMessages.password">
          <div *ngIf="loginForm.get('password')?.hasError(validation.type) && loginForm.get('password')?.dirty">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-button expand="block" type="submit" [disabled]="!loginForm.valid">Login</ion-button>

      <div class="errorMessage" *ngIf="errorMessage">{{ errorMessage }}</div>
    </form>

    <div class="goRegister">
      Don’t have an account? <br />
      <ion-button fill="clear" size="small" (click)="goRegister()">Register here</ion-button>
    </div>
  </div>
</ion-content>