<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-buton (click)="cambiarTema()">Cambiar tema</ion-buton>
  
  <ion-card [style.background-Color]="backgroundTheme" [style.color]="fontTheme">
    
    <h2>Welcome to Splotify</h2>

    <ion-card-content>
      <p>Discover a world of music genres and explore your favorites!</p>
    </ion-card-content>
  </ion-card>

  <div>
    <h3>Demo storage</h3>
    <p>Guardar color de tema del storage</p>
    <div [style.background-Color]="backgroundTheme" [style.color]="fontTheme"></div>
    <p>Tema actual:{{backgroundTheme === ligthPrimaryColor ? 'obscuro' : 'claro'}}</p>
  </div>

</ion-content>