.slide-content {
  text-align: center;
  padding: 20px;
}

.slide-content img {
  width: 50%;
  height: 50%;
  border-radius: 10%; /* Optional: Add some border radius for aesthetics */
  margin: 10px; /* Optional: Add some margin for spacing */
}

.slide-content h2 {
  font-size: 3.5em;
  border: 2px solid aqua; /* Optional: Add a border for emphasis */
  border-color: aqua;
}

.slide-content p {
  font-size: 1em;
  color: #333; /* Optional: Change text color */
}