  <ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <ion-card [style.background-Color]="backgroundTheme" [style.color]="fontTheme" class="welcomeCard">
    
    <h2>Welcome to Splotify</h2>

    <ion-card-content>
      <p>Discover a world of music genres and explore your favorites!</p>
    </ion-card-content>
  </ion-card>

 
  <swiper-container
    pagination="false"
    navigation="true"
    scrollbar="false"
    slides-per-view="3"
    >

    <swiper-slide *ngFor="let artist of artist" (click)="showSongsByArtistId(artist.id)">
      <div class="slide-content" [style.background-Color]="backgroundTheme" [style.color]="fontTheme">
        <img src="{{artist.image}}">
        <h5>{{ artist.name }}</h5>
        <p>Followers:<br>{{artist.followers}}</p>
        <p>Rang: {{artist.popularity}}</p>
      </div>
    </swiper-slide>
  </swiper-container> 

  <swiper-container
    pagination="false"
    navigation="true"
    scrollbar="false"
    slides-per-view="3"
    class="homeSwipersContainer"
    >

    <swiper-slide *ngFor="let album of albums" (click)="showSongsByAlbumId(album.id)">
      <div class="slide-content" [style.background-Color]="backgroundTheme" [style.color]="fontTheme">
        <img src="{{album.image}}">
        <h5>{{ album.name }}</h5>
      </div>
    </swiper-slide>
  </swiper-container> 

  <ion-button  [style.color]="fontTheme" (click)="cambiarTema()">Cambiar tema a tema {{backgroundTheme === ligthPrimaryColor ? 'obscuro' : 'claro'}} </ion-button>

</ion-content>

<ion-footer [style.background-Color]="backgroundTheme" [style.color]="fontTheme" class="musicPlayer">


  <ion-grid class="musicPlayerInfo">
    <ion-row>
      <ion-col size="2">
       {{formatTime(currenSong?.currentTime) || "00:00"}}  
      </ion-col>

      <ion-col>
        <ion-progress-bar size="1" value="newTime || 0" [style.background-Color]="backgroundTheme"></ion-progress-bar>
      </ion-col>

      <ion-col size="2">
        {{formatTime(getRtime())  || "00:00"}}
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="musiInfo">
    <ion-row>
        <ion-text color="danger" *ngIf="!song.name">
          No hay cancion para reproducir
        </ion-text>
        <ion-text [style.color]="fontTheme" *ngIf="song.name">
          <h2>{{ song.name }}</h2>
        </ion-text>
      </ion-row>
  </ion-grid>
  
  <ion-grid class="musiControls">    
    <ion-row>
      <ion-col size="">
        <ion-icon name="thumbs-up-outline"></ion-icon>
      </ion-col>

      <ion-col size="">
        <ion-icon name="thumbs-down-outline"></ion-icon>
      </ion-col>

      <ion-col size="">
        <ion-icon name="play-skip-back-outline"></ion-icon>
      </ion-col>

      <ion-col size="">
        <ion-icon name="play"  *ngIf="!song.playing" (click)="play()"></ion-icon> 
        <ion-icon name="pause" *ngIf="song.playing"  (click)="pause()"></ion-icon>
      </ion-col>

      <ion-col size="">
        <ion-icon name="play-skip-forward-outline"></ion-icon> 
      </ion-col>

      <ion-col size="">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-col>

      <ion-col size="">
        <ion-icon name="play-skip-forward-outline"></ion-icon> 
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-footer>

