<ion-header>
  <ion-toolbar>
    <ion-buttons>
     <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>

  <swiper-container
    pagination="false"
    navigation="true"
    scrollbar="false"
    slides-per-view="3"
    >

    <swiper-slide *ngFor="let album of albums">
      <div class="slide-content" [style.background-Color]="backgroundTheme" [style.color]="fontTheme">
        <img src="albums.image">
        <h5>{{ album.name }}</h5>
      </div>
    </swiper-slide>
  </swiper-container> 
  
</ion-content>






<ion-content >
  <ion-button (click)="cambiarTema()">Cambiar tema</ion-button>
  
  <ion-card [style.background-Color]="backgroundTheme" [style.color]="fontTheme">
    
    <h2>Welcome to Splotify</h2>

    <ion-card-content>
      <p>Discover a world of music genres and explore your favorites!</p>
    </ion-card-content>
  </ion-card>

  <div>
    <h3>Demo storage</h3>
    <p>Guardar color de tema del storage</p>
    <div [style.background-Color]="backgroundTheme" [style.color]="fontTheme"></div>
    <p>Tema actual:{{backgroundTheme === ligthPrimaryColor ? 'obscuro' : 'claro'}}</p>
  </div>

</ion-content>