<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-default">
    <figure>
      <img src="assets/images/default-user-icon-12.png" alt="Imagen default usuario">
      <p>User credentials</p>
    </figure>

    <form  class="registerForm"  [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">
    <ion-item>
      <ion-input labelPlacement="floating" label="email" type="email" placeholder="example@splotify.com" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input labelPlacement="floating" label="Password" type="password" placeholder="#MyPassw0rd123*" formControlName="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input labelPlacement="floating" label="Confirm ur Password" type="password" placeholder="#MyPassw0rd123*" formControlName="confirmPassword"></ion-input>
    </ion-item>

    <div>
      <ng-container *ngFor="let validation of validationMessages.email">
        <div *ngIf="(
          registerForm.get('email')?.hasError(validation.type) && registerForm.get('email')?.dirty
          )">
          {{validation.message}}
        </div>
      </ng-container>

      <ng-container *ngFor="let validation of validationMessages.password">
        <div *ngIf="(
          registerForm.get('password')?.hasError(validation.type) && registerForm.get('password')?.dirty
          )">
          {{validation.message}}
        </div>
      </ng-container>

      <ng-container *ngFor="let validation of validationMessages.confirmPassword">
        <div *ngIf="(
          registerForm.get('confirmPassword')?.hasError(validation.type) && registerForm.get('confirmPassword')?.dirty
          )">
          {{validation.message}}
        </div>
      </ng-container>

    </div>

    <ion-button
     [disabled]="!registerForm.valid"
     type="submit">
     Login
    </ion-button>
  </form>
  

  </div>
</ion-content>
